body, html {
  font-family: "Overlock", cursive;
}

@media (max-width: 375px) {
  .homeContainer {
    width: 100%;
    height: 15em;
  }
}
@media (max-width: 620px) {
  div.project {
    padding: 10px 0px;
  }
}
@media (min-width: 376px) {
  .homeContainer {
    width: 100%;
    height: 15em;
  }
}
@media (min-width: 481px) {
  .homeContainer {
    width: 100%;
    height: 10em;
  }
}
@media (min-width: 720px) {
  .homeContainer {
    width: 100%;
    height: 10em;
  }
}
.homeContainer {
  position: relative;
  text-align: center;
}

.home {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("http://i68.tinypic.com/6hq8gl.jpg");
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box;
  padding: 0px;
}

.home-overlay {
  height: 100%;
  position: absolute;
  background-color: rgba(0, 10, 12, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 1.2em;
}

.home-title {
  color: #FF2;
  font-size: 2.5em;
  text-shadow: 1px 2px 1px black;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  letter-spacing: 5px;
}

.home-subtitle {
  color: #FF2;
  font-size: 2.5em;
  text-shadow: 1px 2px 1px black;
  letter-spacing: 8px;
  font-family: "Raleway", sans-serif;
}

/*Navbar------*/
.header {
  border-bottom: 0.1em solid #DDD;
  position: relative;
  width: 100%;
  z-index: 1;
}

.navbar-custom {
  margin: 0;
  text-transform: uppercase;
  font-family: "Overlock", cursive;
  background: #fff;
  padding: 0;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav > li > a {
  font-size: .9em;
  letter-spacing: .1em;
  color: #011;
  font-family: "Overlock", cursive;
}

.navbar-custom .nav li.active,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .navbar-nav > li.active a {
  background: none;
  color: #066;
  font-size: 1.2em;
}

.navbar-custom .navbar-brand {
  font-weight: 700;
  font-size: 2em;
}

.navbar-custom .navbar-toggle .icon-bar {
  background: #222;
}

.about-container {
  min-height: 16em;
  padding: 3em 2em 2em 2em;
  width: 90%;
  max-width: 960px;
  margin: auto;
}

.about-text {
  font-size: 1.2em;
}

.work-container {
  padding-top: 3em;
}

.work-title {
  font-family: "Overlock", cursive;
}

.work-subtitle {
  font-family: "Overlock", cursive;
  font-size: 1.3em;
}

.btn-group {
  position: relative;
  margin: 2em;
  z-index: 0;
}

.projects-container {
  width: 100%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.select-buttons {
  border: solid 0em #222;
  border-radius: 0;
  font-family: "Overlock", cursive;
  font-size: 1.2em;
}

.select-buttons:active,
.select-buttons:hover,
.select-buttons:focus {
  color: #FF2;
  background-color: #3c3c3c;
  text-decoration: underline;
}

label.active {
  color: #FF2;
  background-color: #222;
  text-decoration: underline;
}

div.work-container {
  min-height: 60em;
}

div.project {
  border: solid #DDD 0.1em;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

div.project-overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: #FF2;
  padding: 2em;
  font-family: "Overlock", cursive;
  font-size: 1.2em;
}

div.project-overlay:hover {
  opacity: 1;
}

div.sorted-separator {
  margin: 2em auto;
  width: 70%;
  height: .1em;
  background: #222;
  border-radius: 0;
}

.social-buttons-div {
  margin-top: 2em;
  padding: 3em 2em 2em 4em;
  background: #151515;
  width: 100%;
  min-height: 10em;
  color: #FF2;
}

.socialButtons {
  box-shadow: inset 0px 0px 1px 0px #000;
  background-color: #eee;
  border-radius: 0px;
  border: 1px solid #000;
  display: inline-block;
  cursor: pointer;
  font-family: "Overlock", cursive;
  font-size: 1.2em;
  padding: .7em .7em;
  text-decoration: none;
  text-shadow: 0px -1px 0px #000;
}

a.socialButtons:link {
  color: #011;
  text-decoration: none;
}

a.socialButtons:visited {
  color: #011;
  text-decoration: none;
}

a.socialButtons:hover {
  color: #FF2;
}

a.socialButtons:active {
  color: #FF2;
  text-decoration: none;
}

.socialButtons:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  background-color: black;
  color: #FF2;
  border-color: #011;
}

.email-tag {
  color: #FF2;
  font-family: "Overlock", cursive;
}

a.email-tag:hover {
  color: #FF2;
  text-decoration: none;
  font-size: 1.25em;
}

a.email-tag:visited {
  color: #FF2;
  text-decoration: none;
}
